
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-stack: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: color("gray", "darken-3");
$progress-bar-top-margin: 0.3rem;
$progress-bar-bottom-margin: 0.3rem;
$flex-row-spacing: 2rem;
$textarea-min-height: 5rem;

$font-size: (
    xs: 12px,
    s: 12.8px,
    m: 13.6px,
    l: 14.4px,
    xl: 15.2px,
    xxl: 16px
)
