[submodule "sass/materialize"]
	path = sass/materialize
	url = https://github.com/bjg222/materialize.git
	branch = billy-sass-only
[submodule "js/materialize"]
	path = js/materialize
	url = https://github.com/bjg222/materialize.git
	branch = billy-js-only
