<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true">
            <files>
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
        <staticContent>
            <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
        </staticContent>
    </system.webServer>
</configuration>
